/*****************
    共通CSS
******************/
body {
    font-family: "Noto sans JP", "sans-serif";
    margin: 0;
    min-width: 1076px;
}

.sub-title {
    font-size: 30px;
}
.color-blue {
    color: #87CEFA;
}

/******************
    header
******************/
.header-title {
    margin: 10px 0;
    padding: 0 20px 10px;
    box-shadow: 0 10px 10px -5px rgba(204, 204, 204, 0.3);
}

.header-title a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

/**************
    main　
***************/
.box-main {
    text-align: center;
    margin: 100px 0;
}

/*************
    profile
***************/
.item-list {
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
}
.item-list b {
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin: 20px 0 30px;
}
.item-list p {
    font-size: 15px;
    line-height: normal;
    text-align: left; 
}

.icon-list {
    width: 100%;
    max-width: 247px;
    margin: 10px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-list img{
    margin-right: 22px;
}
.icon-list img:last-child{
    margin-right: 0;
}


/****************
    works
******************/
.box-works {
    margin: 80px 0 0;
}
.works-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    text-align: left;
    overflow: hidden;
    padding: 0;
}

.works-list li{
    display: block;
    width: 100%;
    max-width: 348px;
    float: left;
    margin-right: 15px;
}
.works-list li:last-child {
    margin-right: 0;
}
.works-list li img{ 
    width: 100%;
    border: 1px solid #CCC;
}
.works-list li .link {
    display:flex;
    justify-content:left;
    align-items:left;
    margin-top:15px;
    
}
.works-list li .link a{
    text-decoration: none;
    background-color: #CCC;
    color: black;
    font-size:15px;
    padding:5px 20px;
    margin-right:10px;
}


/*************
    フッター
**************/
footer p {
    text-align: center;
}


/********************
    スマホ用
**********************/
@media screen and (max-width:767px){
    body {
        min-width: 100%;
    }

    /***
    header
    ****/
    .header-title {
        padding: 0 10px 10px;
        box-shadow: 0 8px 8px -5px rgba(204, 204, 204, 0.3);
    }
    .header-title a {
        font-size: 30px;
    }

    /*****
    main
    *****/
    .box-main {
        max-width: 100%;
        margin: 50px 0;
    }

    /*****
    profile
    *******/
    .box-profile {
        padding: 0 10px;
    }
    .item-list {
        max-width: 100%;
    }
    .item-list b {
        font-size: 18px;
    }
    .icon-list {
        max-width: 100%;
    }
    .icon-list li{
        margin-right: 25px;
    }

    /*****
    works
    ******/
    .box-works {
        margin: 60px 0 0;
        padding: 0 10px;
    }
    .works-list {
        max-width: 100%;
    }
    .works-list li {
        max-width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
}
